/*----------------------------------------
Navigation Styles
----------------------------------------*/
$sidebar-width: 16rem;

.sidebar {
  min-height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4rem; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidebar-open {
  width: $sidebar-width;
}
.sidebar a {
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 1rem;
  text-decoration: none !important;
  font-size: 1.3rem;
  color: $light;
  display: block;
  transition: 0.3s;
}
.sidebar a > i {
  margin-right: 1rem;
}
.sidebar a:hover {
  transform: scale(1.1);
}
.navlinks-wrapper {
  width: $sidebar-width;
}

// .navigation-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999;
//   background-color: #818181;
//   width: 100vw !important;
//   height: 100vh !important;
// }
// .backdrop-hide {
//   display: none !important;
// }
