body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: #07313b;
}

a:hover {
  color: #1386a1;
}

.active {
  background-color: #0a4654;
  /* color: #333; */
}

.icon-bar {
  background-color: #0c5161;
  width: 100%;
  overflow: auto;
  color: white;
}
.icon-bar a {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
}

.icon-bar a:hover {
  background-color: #1386a1;
  color: #0c5161;
}
.portfolio-item .card {
  background: none;
  border-color: #07313b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.personal-info {
  margin-top: 5rem;
  background: none;
  color: #07313b;
  text-align: center;
}
.profile-picture {
  margin-bottom: 1rem;
  max-width: 90%;
}

// Skill Tiles styles
.thumbnail-list {
  text-align: center;
}
.square-medium {
  display: inline-block;
}
.vector {
  box-sizing: content-box;
  width: 6rem;
  background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-label-card {
  display: inline-block;
  background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 6rem;
  height: 6rem;
  // background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-title {
}
