body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: #07313b;
}

.jumbotron {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-presentation.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  // opacity: 0.7;
}
.jumbotron-content {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-item .card {
  background: none;
  border-color: #07313b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.personal-info {
  margin-top: 5rem;
  background: #07313b;
  // color: #07313b;
  // text-align: center;
}
.profile-picture {
  margin-bottom: 1rem;
  max-width: 90%;
}

// Skill Tiles styles
.thumbnail-list {
  text-align: center;
}
.square-medium {
  display: inline-block;
}
.vector {
  box-sizing: content-box;
  width: 6rem;
  background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-label-card {
  display: inline-block;
  background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  width: 6rem;
  height: 6rem;
  // background-image: linear-gradient(-45deg, #ccc, #eee);
}
.skill-title {
}
