// line width
$details-line-width: 0.5rem;
$details-line-color: #7b8a8b;
$checkpoint-right-margin: $details-line-width * 3 / 2;

.details {
  margin-left: $details-line-width / 2;
  border-left: $details-line-width solid $details-line-color;
  padding-left: $details-line-width * 2;
  padding-bottom: $details-line-width;
  margin-bottom: $details-line-width / 2;
}
.colored {
  background-color: white;
}
.checkpoint {
  display: inline-block;
  width: $details-line-width * 2;
  height: $details-line-width * 2;

  border-radius: 50%;
  margin-right: $checkpoint-right-margin;
  border: 0.3rem solid $details-line-color;
  // margin-left: -0.5rem;
}
.title {
}
