body {
    background-image: url("assets/images/bg-large.png");
    background: #eeeeee;
}

header {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    /* position: fixed; */
    top: 0;
    /* height: 100px; */
    margin-bottom: 20px;
}

#fullName {
    font-family: 'Georgia, Times New Roman, Times, serif';
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.sectionTitle {
    color: #4aaaa5;
}

#menu li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    color: #777777
}

#menu li:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

nav {
    float: right;
}

.container {
    width: 960px;
    margin: 0 auto;
}

article {
    float: left;
    width: 640px;
    background: #ffffff;
    padding: 20px;
}

article p {
    font-size: 18px;
    color: #777777;
    line-height: 1.5;
}

#social-section {
    float: right;
    width: 210px;
    background: #ffffff;
    padding: 20px;
}

#profile-picture {
    width: 250px;
}

h2 {
    border-bottom: 3px solid #ccc;
    font-size: 36px;
    font-weight: bold;
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-family: 'Georgia, Times New Roman, Times, serif';
}

#side-panel-title {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

footer {
    position: fixed;
    background: #666666;
    color: #cccccc;
    padding: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#profile-picture {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-link {
    width: 65px;
}


/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */