body {
    background-image: url("assets/images/bg-large.png");
    background: #eeeeee;
}

header {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    /* position: fixed; */
    top: 0;
    /* height: 100px; */
    margin-bottom: 20px;
}

#fullName {
    font-family: 'Georgia, Times New Roman, Times, serif';
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.sectionTitle {
    color: #4aaaa5;
}

#menu li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #777777;
    margin-top: 40px;
}

#menu li a {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777777;
}

#menu li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

nav {
    float: right;
}

.container {
    width: 960px;
    margin: 0 auto;
}

article {
    float: left;
    width: 640px;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 100px;
}

article p {
    font-size: 18px;
    color: #777777;
    line-height: 1.5;
}

aside {
    float: right;
    width: 210px;
    background: #ffffff;
    padding: 20px;
}

#profile-picture {
    width: 250px;
}

h2 {
    border-bottom: 3px solid #ccc;
    font-size: 36px;
    font-weight: bold;
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-family: 'Georgia, Times New Roman, Times, serif';
}

#side-panel-title {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

footer {
    position: fixed;
    background: #666666;
    color: #cccccc;
    padding: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid #4aaaa5;
}

#profile-picture {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-link {
    width: 65px;
}

.form-item {
    display: block;
    width: 100%;
    height: 30px;
}

.label {
    margin-top: 30px;
    font-size: 18px;
    color: #777777;
}

#message {
    height: 150px;
}

.text {
    height: 40px;
    font-size: 16px;
    color: #777777;
    border: 1px solid #cccccc;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

#submit {
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    background: #4aaaa5;
}

#submit:hover {
    background: #2d6966
}

article img {
    width: 40%;
}

.img-container {
    position: relative;
    margin: 10px;
    float: left;
}

.img-container img {
    width: 200px;
}

.img-container div {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}


/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */