/* Stylesheet */

body {
    background-color: #eee;
    max-height: 2000px;
    padding-top: 70px;
    margin-bottom: 50px;
}

.navbar {
    border-bottom: 2px solid #cccccc;
}

.navbar-default .navbar-brand:hover {
    color: white;
    background-color: #4aaaa5;
}

.navbar-default .navbar-brand:focus {
    color: white;
    background-color: #4aaaa5;
}

.profile-picture {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.panel-title {
    font-size: 24px;
    color: #4aaaa5;
}

.panel-default {
    box-shadow: 1px 1px 3px 0px #888888;
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

a .fa-3x {
    color: #4aaaa5;
    margin-right: 10px;
    margin-left: 10px;
}

.link-wrap {
    width: fit-content;
    margin: 0 auto;
}

.media-links {
    margin: 0 auto;
}

#submitMessage {
    background: #4aaaa5;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    background: #ccc;
    /* width: 100%; */
    padding-top: 15px;
    /* padding-bottom: 20px; */
    border-top: 3px solid #4aaaa5;
    /* margin-top: 15px; */
    height: 50px;
}

.navbar-default .navbar-brand {
    color: white;
    margin-left: 15px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
}

a.thumbnail {
    position: relative;
    border: none;
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #4aaaa5;
    opacity: 0.8;
}

textarea {
    max-width: 100%;
}